
:root{
--bgc-pages:#fff7fa;
--border:#ff5975;
--btn-color:#fedada;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: black;
}
@font-face{
    font-family: "Montserrat-Regular";
    src: url("Montserrat-Regular.ttf");
}
body{
    background: #fff7fa;

}
.logo{
    font-size: 30px;
    
}
.logo-span{
    color: #ff5975;
    font-weight: bold;
}
.container{
    max-width: 124rem;
    margin: 0 auto;
    padding: 0 1rem;
}
#icon-size{
    font-size: 8px;
    margin-top: 5px;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    position: relative;
    
   
}
.nav-list{
    display: inline-flex;
    gap: 10px;
    align-items: center;
    margin: 0 1.5em;
    font-weight: bold;
    
}
.nav-action{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.nav-link,
.btn{
    display: flex;
    justify-content: center;
    gap: 3px;
    font-weight: 300px;

}

.btn-primary{
    display: inline-flex;
    color: white;
    background-color: var(--border);
    font-weight: 500px;
    padding: 8px 12px;   
    border-radius: 1.5rem; 
    
}
.nav-toggle i{
    font-size: 3.5rem;
    color: white;
    display: none;
}

.btn-link{
    display: inline-flex;
    color: white;
    border: solid  1px #f7f9fc;
    font-weight: 500px;
    padding: 6px 14px;   
    border-radius: 1.5rem; 
    margin-right: 1rem;
}
.btn-link.active{
    background-color: white;
    border: none;
    
}
h1,h2,h3,h4{
    margin-bottom: 5px;
}
p{
    margin-bottom: 20px;
}
.margin-b15{
    margin-bottom: 15px;
}
.container-header{
    height: 350px;
    background: #fedada;
    display: flex;
    align-items: center;
    
}
.container-header .bloc-item{
    margin: 0 30px;
}
.container-header  .bloc-item img{
    margin-left: 200px;
    margin-top: -120px;
    border-radius: 25%;
}

.container-header p{
    width: 500px;
}
.cards-content-header{
    text-align: center;
    margin: 30px 0;
}


.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
    

}
.cards .card{
    margin: 30px  60px 30px 30px;
    width: 200px;

}
.card img{
    width: 150px;
    border-radius: 30px;
    
}
.card-header{
    display: flex;
    justify-content: space-between;
    
}

.card-body{
    width: 200px;
    align-items: center;

}
.card-body p{
    width: 200px;
    margin: 5px  0;

}
.cards.produit .card{
    margin: 30px  10px 10px 30px;
    width: 350px;

}
.cards.produit .card img{
    width: 250px;

}
.cards.produit .card #price{
    margin-right: 160px;
}
.container-about{
    height: 350px;
    background: #fedada;
    display: flex;
    align-items: center;
}
.container-about .bloc-item{
    margin: 0 30px;
}
.container-about  .bloc-item img{
    margin-left: 300px;
    border-radius: 25%;
    width: 220px;
    margin-top:30px;
}

.container-about p{
    width: 400px;
    
}
.container-login .mail{
    font-size: 23px;
}
footer{
    background: #ff5975;
    height: 40px;
    text-align: center;
}


@media (max-width:768px){
    .nav-toggle i{
        display: block;
        font-size: 25px;
        padding: 0.4rem 1rem;
        color: black;
    }
    .nav-menu{
        position: absolute;
        top: 7rem;
        right: 0;
        width: 100%;
        height: 600px;
        display: none;  
        
    }
    .nav-menu.active{
        display: block;
        background: white;
        
    }
    .nav-list{
        display: block;
        margin: 2rem 0;
        text-align: center;
        font-weight: bold;
        
    }
    .nav-link{
        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
        
    }
    .container-header{
        height: 250px;

    }
    .container-header .bloc-item{
        margin: 0 20px;
    }
    .container-header  .bloc-item img{
        margin-left: 20px;
        margin-top: -110px;
        border-radius: 25%;
        width: 230px;
    }
    
    .container-header p{
        width: 350px;
        font-size: 15px;
    }
    .cards-content-header{
        text-align: center;
        margin: 30px 0;
    }
    .btn{
        display: none;
    }
    .btn-primary{
        padding: 4px 8px;   
         
    }
    .container-about{
        height: 280px;
        background: #fedada;
        display: flex;
        align-items: center;
    }
    .container-about .bloc-item{
        margin: 0 30px;
    }
    .container-about  .bloc-item img{
        margin-left: 10px;
        border-radius: 25%;
        width: 160px;
        margin-top:30px;
    }
    
    .container-about p{
        width: 460px;
        font-size: 14px;
        
    }
    .cards.produit .card{
        margin: 30px  10px 10px 30px;
        width: 200px;
    
    }
    .cards.produit .card img{
        width: 180px;
    
    }
    .cards.produit .card #price{
        margin-right: 20px;
    }
    .container-login .mail{
        font-size: 20px;
    }
    
}
@media (max-width:480px){
    .logo{
        font-size: 25px;
    }
    .container-header{
        height: 200px;

    }
    .container-header .bloc-item{
        margin: 0 10px;
    }
    .container-header  .bloc-item img{
        margin-left: 1px;
        margin-top: -80px;
        border-radius: 25%;
        width: 180px;
    }
    h1{
        font-size: 17px;
    }
    h2,h3,h4,p{
        font-size: 13px;
        margin-bottom: 5px;
    }
    
    .container-header p{
        width: 190px;
        font-size: 12px;
    }
    .cards-content-header{
        text-align: center;
        margin: 20px 0;
    }
    .btn-primary{
        padding: 3px 6px;   
         
    }
    .container-about{
        height: 350px;
        background: #fedada;
        display: flex;
        align-items: center;
    }
    .container-about .bloc-item{
        margin: 0 10px;
    }
    .container-about  .bloc-item img{
        margin-left: 5px;
        border-radius: 30px;
        width: 110px;
        margin-top:30px;
    }
    
    .container-about p{
        width: 190px;
        font-size: 12px;
        
    }
    .container-about h4{
        font-size: 12px;
    }
    .cards .card{
        margin: 20px  50px 20px 20px;
        width: 100px;
    
    }
    .card img{
        width: 80px;
        border-radius: 30px;
        
    }

    .card-body{
        width: 120px;
        align-items: center;
    
    }
    .card-body p{
        width: 150px;
        margin: 5px  0;
    
    }
    .cards.produit .card{
        margin: 30px  10px 10px 30px;
        width: 130px;
    
    }
    .cards.produit .card img{
        width: 110px;
    
    }
    .cards.produit .card h4{
        font-size: 12px;
    }
    .cards.produit .card #price{
        margin-right: 5px;
    }
    .container-login .mail{
        font-size: 15px;
    }
}
 

